//
// Colors
//

// Override Bootstrap color variables

$selected: #fc5227ab;

// Override Bootstrap state colors variables

$primary: $selected;

// Override Bootstrap contrast ratio

$min-contrast-ratio: 1.5;
